<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contentcollector.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>contentcollector.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>contentcollector</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$contentcollector</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jim-fin-sql.database.windows.net,1433;Initial Catalog=ContentCollector;User ID=jfinlon@jim-fin-sql;Password=Oracle8989@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=ContentCollector;Persist Security Info=True;User ID=contentcollector_user;Password=contentcollectoruser8989" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(local);Initial Catalog=ContentCollector;Persist Security Info=True;User ID=contentcollector_user;Password=contentcollectoruser8989" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jim-fin-sql.database.windows.net,1433;Initial Catalog=ContentCollector;User ID=jfinlon@jim-fin-sql;Password=Oracle8989@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>